.container {
  color: #e8ddd8;
}

.align-items-center {
  margin-top: 50px;
}

.mb-4 {
  font-size: 18px;
}

.title {
  color: #FF4928;
  font-size: 35px
}

.description-box {
  margin-top: 50px;
  font-size: 18px;
}
.description-text {
  font-size: 18px; /* Adjust the font size as needed */
}

.data-box {
  margin-top: 50px;
  border: 1px solid #444;
  border-radius: 4px;
  padding: 12px 20px;
}

.data-row {
  margin-bottom: 10px;
}

.data-label {
  font-weight: bold;
}

.btn-dark {
  background-color: #60755a;
  color: #fff;
  border: none;
}

.btn-dark:hover {
  background-color: #455c44;
}

.img-fluid {
  max-width: 100%;
  height: auto;
}

.card {
  background-color: #1f1f1f;
  border: 1px solid #444;
}

.card-title {
  font-size: 16px;
}

.card-body {
  overflow: hidden;
  font-size: 16px;
}

.card-text {
  font-size: 16px;
}

.card:hover {
  border-color: #FF4928;
  cursor: pointer;
}